<h2 class="text-center"><strong>Sign up</strong></h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs border-custom-orange shadow-lg rounded mt-3 p-3">
    <%= f.input :nickname,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Nickname" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :bio,
                as: :text,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Describe yourself 😉" }%>
    <%= f.input :avatar_color, as: :color %>
    <%= f.input :city,
                wrapper_html: {class: "d-none"},
                input_html: {value: "107 Cr Balguerie Stuttenberg, 33300 Bordeaux"} %>




    <div class="form-actions btn btn-custom-green mb-3">
      <%= f.button :submit, "Sign up", class: "text-white" %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>
