
<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div class="container mx-auto mt-3" style="position: relative;">
  <div class="row">
    <% @users.each do |user| %>
        <div class="col-md-4 mt-3">
          <div class="card" style="width: 100%;">
             <img src="https://picsum.photos/1000/1000" class="card-img-top rounded-circle" alt="hugger profile picture">
              <div class="card-body">
                <h5 class="card-title"><%= user.nickname %></h5>
                <div class="d-flex">
                <h6 class="card-subtitle mb-2 text-muted"><%= user.score %> points</h6>
                <% if (user.latitude || user.longitude) == nil %>
                <% else %>
                <h6 class="card-subtitle mb-2 text-muted ms-3">Distance: <%= (current_user.distance_from(user) * 1000).round %> m</h6>
                <% end %>
                </div>
                <p class="card-text"><%= user.bio %></p>
                <%= link_to 'Hug request', new_hug_path(user), class: 'btn btn-success mb-2' %>
                <% if user.logged_in? %>
                  <p class="card-text">Online</p>
                <% elsif user.last_request_at == nil%>
                  <p class="card-text">Waiting for 1st connexion</p>
                <% else %>
                  <p class="card-text">Online <%= ((Time.now - (user.last_request_at))/60).round %> minutes ago</p>
                <% end %>
              </div>
          </div>
        </div>
    <% end %>
  </div>

  <div class="card p-3 m-3" id="map">
    <div style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="map-icon">
    <a href="/users/#map"><i class="fa-solid fa-map-location"></i></a>
  </div>
</div>
