
<div class=".map-box container mx-auto mt-3" style="position: relative;">
  <div class="row m-3">

    <div class="card p-3" id="map">
      <div style="height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>

    <% @users.each do |user| %>
        <div class="container-max-width-lg col-12 col-md-4 mt-3">
        <%= link_to user_path(user), class: "text-dark" do %>
          <div class="card card-index">

              <% if user.avatar.present? %>
              <%= image_tag(user.avatar, class: 'card-img-top rounded-circle', style: "background-color: #{user.avatar_color}") %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title text-light fs-1 text"><strong><%= user.nickname %></strong></h5>
                <div class="d-flex justify-content-between">
                  <h6 class="card-subtitle mb-2 text-custom-yellow"><strong><%= user.score %> points</strong></h6>
                  <% if current_user && current_user.latitude && current_user.longitude && user.latitude && user.longitude%>
                  <h6 class="card-subtitle mb-2 text-light ms-3">Distance: <%= (current_user.distance_to(user) * 1000).round %> m</h6>
                  <% end %>
                </div>
                <p class="card-text text-light"><%= user.bio %></p>

                <%= link_to 'Hug request', hugs_path(user_id: user.id), method: :post, id: 'idxbtn', class: 'btn btn-color-custom-orange text-light mb-2' %>
                <% if user.logged_in? %>
                  <p class="card-text"><i>Online</i></p>
                <% elsif user.last_request_at == nil%>
                  <p class="card-text"><i>Waiting for 1st connexion</i></p>
                <% else %>
                  <p class="card-text"><i>Online</i> <%= ((Time.now - (user.last_request_at))/60).round %> minutes ago</p>
                <% end %>
              </div>
           </div>
        <% end %>
        </div>
    <% end %>
  </div>


  <div class="map-icon">
    <a href="/users/#map"><i class="fa-solid fa-map-location"></i></a>
  </div>
</div>
