<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.kindpng.com/picc/m/272-2724267_cactus-minimal-logo-company-logo-web-lettering-vector.png" %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Huggers", users_path, class: "nav-link" %>
      <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
    <% end %>
    </div>
  </div>
</div>
