<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.kindpng.com/picc/m/272-2724267_cactus-minimal-logo-company-logo-web-lettering-vector.png" %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to users_path, class: "icon" do %>
        <i class="fa-solid fa-users"></i>
      <% end %>
      <%= link_to user_path(current_user), class: "icon" do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
      <%= link_to destroy_user_session_path, class: "icon", method: :delete do %>
        <i class="fa-solid fa-door-open"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "icon" do %>
        <i class="fa-solid fa-door-open"></i>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
