<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://mon-nain-de-jardin.com/wp-content/uploads/2021/06/cropped-cropped-Nain-logo-sans-bg.png" %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Huggers", users_path, class: "nav-link" %>
      <%= cl_image_tag current_user.photo.key, height: 40, width: 35, crop: :fill, class: "avatar dropdown-toggle ms-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
    <% end %>
    </div>
  </div>
</div>
