<!DOCTYPE html>
<html>
  <head>
    <title>HugeProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/2c3cafcce6.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <% if current_user %>
    <div data-controller="geoloc" data-geoloc-userid-value="<% current_user.id %>"></div>
  <% end %>
    <%= render 'shared/flashes' %>

    <% if current_user %>
      <div class="container hug"
        data-controller="hug-subscription"
        data-hug-subscription-user-id-value="<%= current_user.id %>">
      </div>
    <% end %>

    <%= yield %>

    <%= render 'shared/navbar' %>
  </body>
</html>
